<button class="close" mat-icon-button [mat-dialog-close]="true">&times;</button>
<div mat-dialog-title>{{Title}}</div>
<div mat-dialog-content>
    <form [formGroup]=ItemForm (ngSubmit)=onSubmit(ItemForm) autocomplete="off">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="col-md-6">
                    <mat-label>Item Name</mat-label>
                    <input matInput formControlName="itemName" required>
                    <mat-error *ngIf="ItemForm.controls['itemName'].errors?.required">Item Name is Required</mat-error>
                    <mat-error *ngIf="ItemForm.controls['itemName'].errors?.pattern">Item Name is Invalid</mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <mat-label>Inventory Dept. Name</mat-label>
                    <mat-select formControlName="inventoryDeptName" (selectionChange)="BindItemCategory()" required>
                        <mat-option *ngFor="let invdept of InventoryDepartments" [value]="invdept.InventoryDeptId">
                            {{ invdept.InventoryDeptName }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ItemForm.controls['inventoryDeptName'].errors?.required">Select an Inventory Dept.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="col-md-6">
                    <mat-label>Item Category Name</mat-label>
                    <mat-select formControlName="itemCategoryName" (selectionChange)="BindItemGroup()" required>
                        <mat-option *ngFor="let category of ItemCategories" [value]="category.ItemCategoryId">
                            {{ category.Itemcategory }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ItemForm.controls['itemCategoryName'].errors?.required">Select an Item Category
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <mat-label>Item Group Name</mat-label>
                    <mat-select formControlName="itemGroupName" (selectionChange)="getGroupDetail()" required>
                        <mat-option *ngFor="let group of ItemGroups" [value]="group.ItemGroupId">
                            {{ group.ItemGroupName }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ItemForm.controls['itemGroupName'].errors?.required">Select an Item Group
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="col-md-6">
                    <mat-label>Gst (%)</mat-label>
                    <input matInput formControlName="gstPercent" required>
                    <mat-error *ngIf="ItemForm.controls['gstPercent'].errors?.required">Gst percentage is Required
                    </mat-error>
                    <mat-error *ngIf="ItemForm.controls['gstPercent'].errors?.pattern">Gst percentage is Invalid
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <mat-label>HSN No.</mat-label>
                    <input matInput formControlName="hsnNo" required>
                    <mat-error *ngIf="ItemForm.controls['hsnNo'].errors?.required">Hsn No. is Required</mat-error>
                    <mat-error *ngIf="ItemForm.controls['hsnNo'].errors?.pattern">Hsn No. is Invalid</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="col-md-6">
                    <mat-label>Item Unit</mat-label>
                    <mat-select formControlName="itemUnit" required>
                        <mat-option *ngFor="let units of ItemUnits" [value]="units.ItemUnitId">
                            {{ units.ItemUnitName }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ItemForm.controls['itemUnit'].errors?.required">Select an Item unit</mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <mat-label>Item Unit Quantity</mat-label>
                    <input matInput formControlName="quantity" required>
                    <mat-error *ngIf="ItemForm.controls['quantity'].errors?.required">Quanity is Required</mat-error>
                    <mat-error *ngIf="ItemForm.controls['quantity'].errors?.pattern">Quanity is Invalid</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="col-md-6" *ngIf="maintenanceSchedule==true">
                    <mat-label>Maintainance Schedule(Days)</mat-label>
                    <input matInput formControlName="strMaintenanceSchedule" required>
                    <mat-error *ngIf="ItemForm.controls['strMaintenanceSchedule'].errors?.required">Maintenance Schedule
                        is Required</mat-error>
                    <mat-error *ngIf="ItemForm.controls['strMaintenanceSchedule'].errors?.pattern">Maintenance Schedule
                        is Invalid</mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-6" *ngIf="calibrationSchedule==true">
                    <mat-label>Callibration Schedule(Days)</mat-label>
                    <input matInput formControlName="strCalibrationSchedule" required>
                    <mat-error *ngIf="ItemForm.controls['strCalibrationSchedule'].errors?.required">Calibration Schedule
                        is Required</mat-error>
                    <mat-error *ngIf="ItemForm.controls['strCalibrationSchedule'].errors?.pattern">Maintenance Schedule
                        is Invalid</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="col-md-12">
                    <mat-label>Description</mat-label>
                    <textarea style="resize: none;" matInput formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <mat-checkbox formControlName="isActive">Is Active</mat-checkbox>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="col-md-12">
                    <mat-label>Remarks</mat-label>
                    <textarea style="resize: none;" matInput formControlName="remarks"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary">Save</button>
                <input type="hidden" formControlname='itemId' name="ItemId">
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
            </div>
        </div>
    </form>
</div>