<form #DynamicMasterForm="ngForm" (ngSubmit)="onSubmit(DynamicMasterForm)">
    <div *ngIf="model.isShowDivTableName">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="col-md-6">
                    <input matInput [(ngModel)]="model.tableName" name="tableName" #dyntableName="ngModel" placeholder="Table Name" autocomplete="off" >
                    </mat-form-field> 
            </div>
        </div>
    </div>
    <div *ngIf="model.isShowDivTableProperty">
    <div class="row">
        <div class="col-md-12">
            <mat-form-field class="col-md-6" >
                <mat-select placeholder="Select Table Name" name="tableNames" [(ngModel)]="model.dynamicTableId" [(value)]= "model.dynTabId">
                    <mat-option *ngFor="let tb of model.TableList" [(value)]="tb.dynamicTableId" >{{ tb.tableName }}</mat-option>
                  </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field class="col-md-6">
                <input matInput [(ngModel)]="model.name" name="name" #dynname="ngModel" placeholder="Name" autocomplete="off" >
                </mat-form-field> 

                <mat-form-field class="col-md-6">
                    <input matInput [(ngModel)]="model.shortName" name="shortName" #shortName="ngModel" placeholder="Short Name" autocomplete="off" >
                    </mat-form-field> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field class="col-md-12">
            <textarea matInput [(ngModel)]="model.description" name="description" #description="ngModel" placeholder="description" autocomplete="off"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
            <mat-checkbox [(ngModel)]="model.isActive" name="isActive" #dynisActive="ngModel">Is Active</mat-checkbox>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <mat-form-field class="col-md-12">
            <textarea matInput [(ngModel)]="model.remarks" name="Remarks" #remarks="ngModel" placeholder="Remarks" autocomplete="off"></textarea>
            </mat-form-field>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="form-group col-md-2">
        <button type="submit" class="btn btn-primary">Save</button>
       <input type="hidden" [(ngModel)]='model.dynamicTableDetailId' name="dynamicTableDetailId">
       <input type="hidden" [(ngModel)]='model.isShowDivTableName' name="isShowDivTableName">
       <input type="hidden" [(ngModel)]='model.isShowDivTableProperty' name="isShowDivTableProperty">
    </div>
    <div class="form-group col-md-2">
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
    </div>
</div>
</form>