<button class="close" mat-icon-button [mat-dialog-close]="true">&times;</button>
<div mat-dialog-title>Requisitions To HQ Inventory Department Details</div>
<div mat-dialog-content>
    <div class="search-form-field">
        <button mat-raised-button style="float: right;" color="primary" (click)="confirmOrder()">Confirm</button>
    </div>
    <div class="container-fluid">
        <div style="margin-top: 3rem;">
            <mat-form-field class="search-form-field">
                <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off"
                    (keyup)="applyFilter()">
            </mat-form-field>
        </div>
        <div class="panel panel-default card-view ">
            <div class="panel-body">
                <div class="table table-responsive">
                    <mat-table [dataSource]='dataSource' matSort>
                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="SlNo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Serial No.</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index;">{{i+1}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="reqNo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Requisition No.</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.requisitionNo}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="unit">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Unit Name</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.requisitionFromUnit}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="itemName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Item</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.itemName}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="reqQty">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Requisition Qty(pcs)</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{row.approvedQty}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="apprByHQQty">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Approved Qty(pcs)</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <mat-form-field appearance="outline" style="width: 100px;"><input matInput
                                        [value]='row.approvedByHQInventory' [(ngModel)]="row.approvedByHQInventory" type="number"
                                        [max]='row.approvedQty' min="1" /></mat-form-field>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="loading">
                            <mat-footer-cell *matFooterCellDef colspan="5">
                                Loading Please Wait...
                            </mat-footer-cell>
                        </ng-container>
                        <ng-container matColumnDef="noData">
                            <mat-footer-cell *matFooterCellDef colspan="5">
                                No Data Found
                            </mat-footer-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
                        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'gridFooter':dataSource!=null}">
                        </mat-footer-row>
                        <mat-footer-row *matFooterRowDef="['noData']"
                            [ngClass]="{'gridFooter':!(dataSource!=null && dataSource.data.length==0)}">
                        </mat-footer-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[25,50,100]" [pageSize]="25" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>