<button class="close" mat-icon-button [mat-dialog-close]="true">&times;</button>
<div mat-dialog-title>{{Title}}</div>
<div mat-dialog-content>
    <form [formGroup]="UserForm" (ngSubmit)="onSubmit(UserForm)" autocomplete="off">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="col-md-12">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="userName" required />
                    <mat-error *ngIf="UserForm.controls['userName'].errors?.required">Name is Required</mat-error>
                    <mat-error *ngIf="UserForm.controls['userName'].errors?.pattern">Name is Invalid</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <mat-checkbox formControlName="isHQ">Is Head Quarter</mat-checkbox>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="col-md-6">
                    <mat-label>Unit Name</mat-label>
                    <mat-select formControlName="unitName" required>
                        <mat-option *ngFor="let unit of Units" [value]="unit.unitId">
                            {{ unit.unitName }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="UserForm.controls['unitName'].errors?.required">Select an Unit</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="col-md-6">
                    <mat-label>Email Address</mat-label>
                    <input matInput formControlName="email" autocomplete="off" required>
                    <mat-error *ngIf="UserForm.controls['email'].errors?.required">Email is Required</mat-error>
                    <mat-error *ngIf="UserForm.controls['email'].errors?.pattern">Email is Invalid</mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" autocomplete="off" required>
                    <mat-error *ngIf="UserForm.controls['password'].errors?.required">Password is Required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <mat-checkbox formControlName="isActive">Is Active</mat-checkbox>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="col-md-12">
                    <mat-label>Remarks</mat-label>
                    <textarea style="resize: none;" matInput formControlName="remarks"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary">Save</button>
                <input type="hidden" formControlname='userId'>
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>
            </div>
        </div>
    </form>
</div>